*{
font-family: SauceCodeProNerdFontMono;
font-size: 20pt;
}

#window
{
font-size: 20pt;
}

#input
{
color: black;
border: #FFFFFF 3px solid;
background-color: rgba(130,109,163,.8);

}
::placeholder{
color: black;
}
